@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #1d1d26;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* width */
.scroll-styled::-webkit-scrollbar {
  width: 10px;
}

/* Track */
.scroll-styled::-webkit-scrollbar-track {
  background: #a4a5a6;
  border-radius: 5px;
}

/* Handle */
.scroll-styled::-webkit-scrollbar-thumb {
  background: #f27f3d;
  border-radius: 5px;
}

/* Handle on hover */
.scroll-styled::-webkit-scrollbar-thumb:hover {
  background: #a4a5a6;
}
